---
import { Image } from "astro:assets";
import { Button } from "../ui/button";

export type Card = {
  title: string;
  description: string;
  buttontext: string;
  image: string | ImageMetadata;
  imageAlt: string;
};

type Props = Card;

const { title, description, buttontext, image, imageAlt } = Astro.props;
---

<div class="p-4 flex flex-col gap-3 rounded-2xl">
  {
    typeof image === "string" ? (
      <img
        src={image}
        alt={"placeholder"}
        class="w-full rounded-2xl shadow-md"
      />
    ) : (
      <Image
        src={image}
        alt={"placeholder"}
        class="w-full rounded-2xl shadow-md"
      />
    )
  }
  <h4 class="font-bold">{title}</h4>
  <p class="text-primary/50">
    {description}
  </p>
  <Button className="w-fit font-bold">
    {buttontext}
  </Button>
</div>

<style>
  .secondary-bg {
    background-color: var(--secondary-color);
  }
</style>
