---
type Props = {
  cardsData: Card[];
  title: string;
  description: string;
};

const { cardsData, title, description } = Astro.props as Props;

import DescriptiveCard, { type Card } from "../Cards/DescriptiveCard.astro";
import SectionTitle from "../Titles/SectionTitle.astro";
---

<section class="container mx-auto">
  <SectionTitle title={title} description={description} />
  <div class="pt-12 grid grid-cols-1 gap-6 sm:grid-cols-2 xl:grid-cols-4">
    {
      cardsData.map((card: Card) => (
        <DescriptiveCard
          title={card.title}
          description={card.description}
          buttontext={card.buttontext}
          image={card.image}
          imageAlt={card.imageAlt}
        />
      ))
    }
  </div>
</section>
