---
import GalleryHeaderWhitLinks from "@/components/Headers/GalleryHeaderWhitLinks.astro";
import ContainerWrapper from "@/layouts/ContainerWrapper.astro";
import Divider from "@/components/Etc/Divider.astro";

import ad1 from "@/images/ad1.jpg";
import ad2 from "@/images/ad2.jpg";
import ad3 from "@/images/ad3.jpg";
import DescriptiveCardsSection from "@/components/Sections/DescriptiveCardsSection.astro";
import DualCardsSection from "@/components/Sections/DualCardsSection.astro";
import Footer from "@/components/Etc/Footer.astro";

//? PLACEHOLDER DB FETCH DATA FOR DYNAMIC CONTENT
import snow from "@/images/snow.jpg";
import type { Card } from "@/components/Cards/DescriptiveCard.astro";
import GlobalLayout from "@/layouts/GlobalLayout.astro";
const imagesArr = [
  { image: ad1, caption: "ad1" },
  { image: ad2, caption: "ad2" },
  { image: ad3, caption: "ad3" },
];
// first section comp
const cardsContent: Card[] = [
  {
    title: "Card 1",
    description:
      "Detailed description for card 1. This is an extended description that provides more context and information about the card.",
    buttontext: "Ver m치s",
    image: snow,
    imageAlt: "Image for Card 1",
  },

  {
    title: "Card 2",
    description:
      "Detailed description for card 2. This is an extended description that provides more context and information about the card.",
    buttontext: "Ver m치s",
    image: snow,
    imageAlt: "Image for Card 2",
  },
  {
    title: "Card 3",
    description:
      "Detailed description for card 3. This is an extended description that provides more context and information about the card.",
    buttontext: "Ver m치s",
    image: snow,
    imageAlt: "Image for Card 3",
  },
  {
    title: "Card 4",
    description:
      "Detailed description for card 4. This is an extended description that provides more context and information about the card.",
    buttontext: "Ver m치s",
    image: snow,
    imageAlt: "Image for Card 4",
  },
];
const descriptiveCardsData = {
  title: "Ayuda a la mujer",
  description:
    "Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, sunt! Magni sed fugit laudantium tenetur quas repellat rem ut est natus eum voluptatum",
  cardsContent: cardsContent,
};
// second section comp
const repeatedListItems = [
  {
    title: "Ejemplo 1 de lo que hacemos",
    description:
      "lorem ipsum dolor sit amet consectetur adipisicing elit adipisicing elit tenetur quas repellat rem ut est natus eum voluptatum",
    iconName: "github",
  },
  {
    title: "Ejemplo 2 de lo que hacemos",
    description:
      "lorem ipsum dolor sit amet consectetur adipisicing elit adipisicing elit tenetur quas repellat rem ut est natus eum voluptatum",
    iconName: "github",
  },
  {
    title: "Ejemplo 3 de lo que hacemos",
    description:
      "lorem ipsum dolor sit amet consectetur adipisicing elit adipisicing elit tenetur quas repellat rem ut est natus eum voluptatum",
    iconName: "github",
  },
  {
    title: "Ejemplo 4 de lo que hacemos",
    description:
      "lorem ipsum dolor sit amet consectetur adipisicing elit adipisicing elit tenetur quas repellat rem ut est natus eum voluptatum",
    iconName: "github",
  },
];

const repeatedCardData = {
  title: "Lorem ipsum dolor sit amet consectetur",
  description:
    "Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, sunt! Magni sed fugit laudantium tenetur quas repellat rem ut est natus eum voluptatum",
  isReversed: false,
  listItems: repeatedListItems,
};

const dualCardsData = {
  title: "Ayuda a la comunidad",
  description:
    "Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, sunt! Magni sed fugit laudantium tenetur quas repellat rem ut est natus eum voluptatum",
  cardsContent: [
    {
      title: "Lorem ipsum dolor sit amet consectetur",
      description:
        "Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, sunt! Magni sed fugit laudantium tenetur quas repellat rem ut est natus eum voluptatum",
      isReversed: false,
      listItems: repeatedListItems,
    },
    {
      title: "Lorem ipsum dolor sit amet consectetur",
      description:
        "Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, sunt! Magni sed fugit laudantium tenetur quas repellat rem ut est natus eum voluptatum",
      isReversed: true,
      listItems: repeatedListItems,
    },
  ],
};
---

<GlobalLayout>
  <body>
    <ContainerWrapper>
      <GalleryHeaderWhitLinks images={imagesArr} />
      <Divider />
      <DescriptiveCardsSection
        title={descriptiveCardsData.title}
        description={descriptiveCardsData.description}
        cardsData={descriptiveCardsData.cardsContent}
      />
      <Divider />
      <DualCardsSection
        title={dualCardsData.title}
        description={dualCardsData.description}
        cardsContent={dualCardsData.cardsContent}
      />
    </ContainerWrapper>
    <Divider />
    <Footer />
  </body>
</GlobalLayout>
